<body class="atras text-white">
    <%- include('../includes/header.ejs', {titulo: 'Lista de Usuários'}) %>
<body>
    <main>
        <h2 class="text-center">Lista de Usuarios</h2>
        <a href="/usuarios/novo" class="btn btn-primary bVer border-black">Adicionar Usuários</a>
        <% if (typeof mensagem != 'undefined') { %>
            <p class="erro"><%= mensagem %></p>
        <% } %>
        <div class="col-12">
            <form action="/usuarios/" method="get" class="d-flex justify-content-center gap-3">
                <input type="text" class="form-control w-25" name="busca" placeholder="Buscar usuário" value="<%=busca%>">
                <button type="submit" class="w-10 btn btn-primary bVer border-black">Buscar</button>
                <select class="form-control w-25" name="ordenar" onchange="this.form.submit()" class="w-50">
                    <option value="nome" <%= ordenar == 'nome' ? 'selected' : '' %>>Ordenar por nome</option>
                    <option value="usuario" <%= ordenar == 'usuario' ? 'selected' : '' %>>Ordenar por usuário</option>
                </select>
            </form>
        </div>
        <table class="dados-table">
            <thead class="bg-light">
                <tr class="text-black">
                    <th scope="col">Foto</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% for (let usuario of usuarios) { %>
                    <tr>
                        <td><img class="img-fluid" style="border-radius: 70%; width: 25%;" src="<%= usuario.foto %>" alt=""></td>
                        <td><%= usuario.nome %></td>
                        <td><%= usuario.usuario %></td>
                        <td class="d-flex">
                            <a href="/usuarios/<%= usuario.id_usuario %>/editar" class="btn btn-primary bVer border-black btamanho"> Editar </a>
                            <form action="/usuarios/<%= usuario.id_usuario %>/deletar" method="post" onsubmit="return confirmDelete()">
                                <button type="submit" class="btn btn-delete text-white bEx border-black">Excluir</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div class="pagination">
            <% if (pgAtual > 1) { %>
                <a href="/usuarios?pg=<%= pgAtual-1 %>">Anterior</a>
            <% } %>
            <span>Página <%= pgAtual %> de <%= totalPgs %></span>
            <% if (pgAtual < totalPgs) { %>
                <a href="/usuarios?pg=<%= pgAtual+1 %>">Próxima</a>
            <% } %>
        </div>
    </main>
</body>
<%- include('../includes/footer.ejs') %>
</body>